.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    position: fixed;
    grid-template-areas: "header header"
                         "main right"
                         "footer footer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #90e0ef;
 }
 .header {
    background: #90e0ef;
    grid-area: header;
 }
 .content1 {
    background: #90e0ef;
    grid-area: main;
 }
 .content2 {
    background: #90e0ef;
    grid-area: right;
 }
 .footer {
    background: #90e0ef;
    grid-area: footer;
 }
 .cell {
    color: #03045e;
    font-size: 24px;
    text-align: center;
    padding: 4px;
 }